<!DOCTYPE html>
<html lang="en">

<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
      <title>Effective Field Theories, Gravity and Cosmology</title>
	<meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <style>
            td.tdmenuitem:hover {
                color: royalblue;
            }
            span.pleftmenuitem {
	        border-radius: 20px;
                padding: 10px;
		font-size:125%;
		color: #fefefe;
            }
            span.pleftmenuitem:hover {
                background-color: rgb(63,63,63);
                cursor: pointer;
            }
            span.imgleftmenuitem {
	        padding: 6px;
            }
            span.imgleftmenuitem:hover {
                cursor: pointer;
            }
            li.ulleftmenuitem:hover {
                cursor: pointer;
                color: royalblue;
            }
            span.spanleftmenuitem:hover {
                cursor: pointer;
                color: royalblue;
            }
            .yearbutton {
	        border-radius: 20px;
                padding: 10px;
		font-size:125%;
                background-color: rgb(127,127,127);
		color: #fefefe;
                outline: none;
            }
            .yearbutton:hover {
                background-color: rgb(63,63,63);
                cursor: pointer;
            }
        </style>
<script language="JavaScript" type="text/javascript">

function norobotValidate() {
    
    //Validation
    if (document.getElementById("idfullname").value.trim() == "")
    {
        alert ("Full name must be entered.");
        return false;
    }
    if (document.getElementById("idaffiliation").value.trim() == "")
    {
        alert ("Affiliation must be entered.");
        return false;
    }
    if (isNaN(document.getElementById("idnorobot").value.trim()))
    {
        alert ("A test question answer looks invalid.");
        return false;        
    }

    //norobot check    
    var xhr=new XMLHttpRequest();
    xhr.onreadystatechange=function() {
        if (xhr.readyState==4 && xhr.status==200) {
            if (xhr.responseText != "invalid.php")
            {
                var oldaction=document.getElementById("idformreg").action;
                document.getElementById("idformreg").action=xhr.responseText;
                document.getElementById("idformreg").submit();
                document.getElementById("idformreg").action=oldaction;
            }
            else
            {
                alert ("A test question answer is invalid.");
            }
        }
    };
    xhr.open("GET","norobot.php?a="+document.getElementById("idnorobot").value,true);
    xhr.send();
    return true;
}

  function myResize() {
//      alert(window.innerWidth);
//      if (window.innerWidth<800)
      if (document.documentElement.clientWidth<800)
      {
	  document.getElementById('content').style.width=document.getElementById('precontent').offsetWidth-16+"px";
	  document.getElementById('br1').innerHTML="<br/>";
	  //document.getElementById('br2').innerHTML="<br/>";
	  document.getElementById('bre1').innerHTML="<br/>";
      }
      else
      {
          document.getElementById('content').style.width="784px";
	  document.getElementById('br1').innerHTML=" ";
	  //document.getElementById('br2').innerHTML=" ";
	  document.getElementById('bre1').innerHTML=" ";
      }
      document.getElementById('precontent').style.top=document.getElementById('header').offsetHeight+"px";
      document.getElementById('precontent').style.height=Math.max(window.innerHeight-document.getElementById('header').offsetHeight,document.getElementById('content').offsetHeight+16)+"px";
  }

function yearOpenClose(year) {
    var content = document.getElementById('yearcontent'+year);
    if (content.style.display === "block") {
      content.style.display = "none";
    } else {
      content.style.display = "block";
    }
  }
</script>
    </head>

    
<body>

 <body style="background-color: #efefef; color: #1a1a1a;" onload="document.getElementById('content').innerHTML=document.getElementById('page_home').innerHTML; myResize();" onresize="myResize();" data-new-gr-c-s-check-loaded="8.927.0" data-gr-ext-installed="">
       <div id="header" style="background-image:url('img/portfolio/1.jpg');opacity:0.9;color:#ffffff;position:absolute;left:0px;top:0px;width:100%;font-size:120%;text-align: center;">
	 <h1><span class="imgleftmenuitem" onclick="document.getElementById('content').innerHTML=document.getElementById('page_home').innerHTML; myResize();"><i>Effective Field Theories, Gravity and Cosmology<span id="br1"> </span></i></span></h1>
	    <p>
            <span class="pleftmenuitem" onclick="document.getElementById('content').innerHTML=document.getElementById('page_home').innerHTML; myResize();">Home</span>&nbsp;&nbsp;
            <span class="pleftmenuitem" onclick="document.getElementById('content').innerHTML=document.getElementById('page_registration').innerHTML; myResize();">Registration</span>
	    <span class="pleftmenuitem" onclick="document.getElementById('content').innerHTML=document.getElementById('page_program').innerHTML; myResize();">Program</span>&nbsp;&nbsp;
            <span class="pleftmenuitem" onclick="document.getElementById('content').innerHTML=document.getElementById('page_participants').innerHTML; myResize();">Participants</span>
            <span class="pleftmenuitem" onclick="document.getElementById('content').innerHTML=document.getElementById('page_events').innerHTML; myResize();">Venue</span>

	  </p>
       </div>
        
        <div id="precontent" style="background-image: url(&quot;50bg.jpg&quot;); background-repeat: repeat; background-size: 100%; position: absolute; left: 0px; width: 100%; padding: 0px; font-size: 100%; top: 163px; height: 2027px;">
        <div id="content" style="position:static;width: 784px; margin: auto;padding: 8px;font-size: 100%;">

<p style="color:#ff0000;text-align:center;font-size:120%;">


</p><p>
<b><i>"Quantum Gravity and All of That"</i></b> seminar series is aimed at bringing together experts, postdocs and students working on the following topics:
</p>
<ul>
	<li>Quantum gravity and strings, including the early Universe scenarios</li>
	<li>Quantum gravity and black holes</li>
<li>Information paradox</li>
<li>Holography and AdS/CFT, including holography and complexity, holography and neutron star physics</li>
<li>Quantum information, including the information theory</li>
<li>and related subjects, including gravitational waves from compact objects and phase transitions.</li>
</ul>

<p>The seminars are expected to have about 1 hour for the main talk and 
30+ minutes for discussions. We pay a special account for open 
discussions and exchange of opinions as the main driving force in our 
research community. The principal schedule is one seminar per two weeks 
on Thursdays at 16:00 CET (or CEST) time. This may be occasionally 
adjusted to account special time requests of speakers.
</p>

<p>
The seminars and afterwards discussions will be zoom-based. You have to 
register following the Registration link above to be included in the 
mailing list. Talk proposals and other inquires can be submitted through
 the seminar e-mail (see below).
</p>



<p>You are welcome to download the poster <a href="https://qgholqi.inpcs.net/qgholqi.pdf">here</a>.</p>

<h2 style="text-align:center;">Program Committee</h2>

<hr style="opacity:0.3;width:50%;">

<ul>
  <li><strong>Robert Brandenberger </strong>(McGill University)</li>
  <li><strong>Atish Dabholkar </strong>(ICTP, Trieste)</li>
  <li><strong>Netta Engelhardt </strong>(Massachusetts Institute of Technology)</li>
  <li><strong>Johanna Erdmenger </strong>(Julius-Maximilians-Universität of Würzburg)</li>
  <li><strong>Jim Gates </strong>(Brown University)</li>
  <li><strong>Marc Henneaux </strong>(Université Libre de Bruxelles; International Solvay Institutes; Collège de France)</li>
  <li><strong>Gerard 't Hooft </strong>(Utrecht University)</li>
<!--  <li><strong>*Clifford Johnson </strong>()</li>-->
  <li><strong>Elias Kiritsis </strong>(Université de Paris; University of Crete)</li>
  <li><strong>Igor Klebanov </strong>(Princeton University)</li>
  <li><strong>Juan Maldacena </strong>(Institute for Advanced Studies)</li>
  <li><strong>Jeff Murugan </strong>(Cape Town University)</li>
  <li><strong>Robert Myers </strong>(Perimeter Institute for Theoretical Physics)</li>
  <li><strong>Niels Obers </strong>(Niels Bohr Institute and Nordita)</li>
  <li><strong>Fernando Quevedo </strong>(DAMTP)</li>
  <li><strong>Eliezer Rabinovici </strong>(Hebrew University)</li>
  <li><strong>Ashoke Sen </strong>(Harish-Chandra Research Institute)</li>
  <li><strong>Jacob Sonnenschein </strong>(Tel Aviv University)</li>
  <li><strong style="border-style:solid;">Alexei Starobinsky</strong><strong> </strong>(Landau Institute for Theoretical Physics)</li>
  <li><strong>Leonard Susskind </strong>(Stanford University)</li>
  <li><strong>Gabriele Veneziano </strong>(CERN, Collège de France)</li>
  <li><strong>Jacobus Verbaarschot </strong>(Stony Brook University)</li>
  <li><strong>Igor Volovich </strong>(Steklov Mathematical Institute)</li>
  <li><strong>Masahide Yamaguchi </strong>(Tokyo Institute of Technology)</li>
</ul>

<h2 style="text-align:center;">Organizers</h2>

<hr style="opacity:0.3;width:50%;">

<ul>
  <li><strong>Irina Aref'eva</strong> (Steklov Mathematical Institute, Chair)</li>
  <li><strong>Luca Buoninfante</strong> (Radboud University, IMAPP)</li>
  <li><strong>Alexey Koshelev</strong> (ShanghaiTech University and University of Beira Interior)</li>
</ul>

<h2 style="text-align:center;">Scientific secretaries and Contacts</h2>

<hr style="opacity:0.3;width:50%;">

<ul>
  <li><strong>Dmitry Ageev</strong> (Steklov Mathematical Institute)<br>
  ageev [at] mi-ras [dot] ru</li>
  <li><strong>Sravan K. Kumar</strong> (ICG, Portsmouth)<br>
	 sravan.kumar [at] port [dot] ac [dot] uk</li>
<li>The general seminar contact e-mail is<br>
qgholqi [at] mi-ras [dot] ru</li>
</ul>


<h2 style="text-align:center;">Partner Institutions</h2>

<hr style="opacity:0.3;width:50%;">

<p style="text-align:center;">
<!--
	  <a href="https://www.nordita.org/" title="NORDITA"><img src="nordita.png" height="72px" /></a>
	  <span id="br2"> </span>
-->
	  <a href="https://www.shanghaitech.edu.cn/eng/" title="ShanghaiTech University"><img src="QUANTUM%20GRAVITY%20and%20All%20of%20That%20-%20International%20seminar%20series_files/sht.png" height="72px"></a>
	  <!-- <a href="https://www.ubi.pt/en/" title="University of Beira Interior"><img src="ubidark.png" height="72px"></a> -->
</p>


<h2 style="text-align:center;">External resources</h2>

<hr style="opacity:0.3;width:50%;">

<p style="text-align:center;font-size:80%;">
	  <a href="http://www.mi-ras.ru/index.php?c=main&amp;l=1" title="Steklov International Mathematical Center"><img src="QUANTUM%20GRAVITY%20and%20All%20of%20That%20-%20International%20seminar%20series_files/simc.png" height="72px"></a>
	  <span id="bre1"> </span>
	  <a href="https://isqg.org/" title="International Society for Quantum Gravity"><img src="QUANTUM%20GRAVITY%20and%20All%20of%20That%20-%20International%20seminar%20series_files/isqg80.png" height="72px"></a>	  
</p>

<h2 style="text-align:center;">Policies and other documents</h2>

<hr style="opacity:0.3;width:50%;">

<p style="text-align:center;font-size:80%;">
    <a href="https://qgholqi.inpcs.net/about.html" title="About" target="_self">Code of conduct</a> &nbsp; <a href="https://qgholqi.inpcs.net/cookies.html" title="Cookie policy" target="_self">Policies</a>
</p>

        </div>
        </div>
        

        <div id="page_home" style="visibility:hidden;display:none;">

<p style="color:#ff0000;text-align:center;font-size:120%;">
<!--
<i>Note the change of time in Europe and America! Seminars will start as usual 17:00 CET!<br/>
It is 08:00 Los Angeles, 11:00 New York, 19:00 Moscow, 01:00 (next day) Tokyo</i></p>
-->

</p><p>
<b><i>"Quantum Gravity and All of That"</i></b> seminar series is aimed at bringing together experts, postdocs and students working on the following topics:
</p>
<ul>
	<li>Quantum gravity and strings, including the early Universe scenarios</li>
	<li>Quantum gravity and black holes</li>
<li>Information paradox</li>
<li>Holography and AdS/CFT, including holography and complexity, holography and neutron star physics</li>
<li>Quantum information, including the information theory</li>
<li>and related subjects, including gravitational waves from compact objects and phase transitions.</li>
</ul>

<p>The seminars are expected to have about 1 hour for the main talk and 
30+ minutes for discussions. We pay a special account for open 
discussions and exchange of opinions as the main driving force in our 
research community. The principal schedule is one seminar per two weeks 
on Thursdays at 16:00 CET (or CEST) time. This may be occasionally 
adjusted to account special time requests of speakers.
</p>

<p>
The seminars and afterwards discussions will be zoom-based. You have to 
register following the Registration link above to be included in the 
mailing list. Talk proposals and other inquires can be submitted through
 the seminar e-mail (see below).
</p>



<p>You are welcome to download the poster <a href="https://qgholqi.inpcs.net/qgholqi.pdf">here</a>.</p>

<h2 style="text-align:center;">Program Committee</h2>

<hr style="opacity:0.3;width:50%;">

<ul>
  <li><strong>Robert Brandenberger </strong>(McGill University)</li>
  <li><strong>Atish Dabholkar </strong>(ICTP, Trieste)</li>
  <li><strong>Netta Engelhardt </strong>(Massachusetts Institute of Technology)</li>
  <li><strong>Johanna Erdmenger </strong>(Julius-Maximilians-Universität of Würzburg)</li>
  <li><strong>Jim Gates </strong>(Brown University)</li>
  <li><strong>Marc Henneaux </strong>(Université Libre de Bruxelles; International Solvay Institutes; Collège de France)</li>
  <li><strong>Gerard 't Hooft </strong>(Utrecht University)</li>
<!--  <li><strong>*Clifford Johnson </strong>()</li>-->
  <li><strong>Elias Kiritsis </strong>(Université de Paris; University of Crete)</li>
  <li><strong>Igor Klebanov </strong>(Princeton University)</li>
  <li><strong>Juan Maldacena </strong>(Institute for Advanced Studies)</li>
  <li><strong>Jeff Murugan </strong>(Cape Town University)</li>
  <li><strong>Robert Myers </strong>(Perimeter Institute for Theoretical Physics)</li>
  <li><strong>Niels Obers </strong>(Niels Bohr Institute and Nordita)</li>
  <li><strong>Fernando Quevedo </strong>(DAMTP)</li>
  <li><strong>Eliezer Rabinovici </strong>(Hebrew University)</li>
  <li><strong>Ashoke Sen </strong>(Harish-Chandra Research Institute)</li>
  <li><strong>Jacob Sonnenschein </strong>(Tel Aviv University)</li>
  <li><strong style="border-style:solid;">Alexei Starobinsky</strong><strong> </strong>(Landau Institute for Theoretical Physics)</li>
  <li><strong>Leonard Susskind </strong>(Stanford University)</li>
  <li><strong>Gabriele Veneziano </strong>(CERN, Collège de France)</li>
  <li><strong>Jacobus Verbaarschot </strong>(Stony Brook University)</li>
  <li><strong>Igor Volovich </strong>(Steklov Mathematical Institute)</li>
  <li><strong>Masahide Yamaguchi </strong>(Tokyo Institute of Technology)</li>
</ul>

<h2 style="text-align:center;">Organizers</h2>

<hr style="opacity:0.3;width:50%;">

<ul>
  <li><strong>Irina Aref'eva</strong> (Steklov Mathematical Institute, Chair)</li>
  <li><strong>Luca Buoninfante</strong> (Radboud University, IMAPP)</li>
  <li><strong>Alexey Koshelev</strong> (ShanghaiTech University and University of Beira Interior)</li>
</ul>

<h2 style="text-align:center;">Scientific secretaries and Contacts</h2>

<hr style="opacity:0.3;width:50%;">

<ul>
  <li><strong>Dmitry Ageev</strong> (Steklov Mathematical Institute)<br>
  ageev [at] mi-ras [dot] ru</li>
  <li><strong>Sravan K. Kumar</strong> (ICG, Portsmouth)<br>
	 sravan.kumar [at] port [dot] ac [dot] uk</li>
<li>The general seminar contact e-mail is<br>
qgholqi [at] mi-ras [dot] ru</li>
</ul>


<h2 style="text-align:center;">Partner Institutions</h2>

<hr style="opacity:0.3;width:50%;">

<p style="text-align:center;">
<!--
	  <a href="https://www.nordita.org/" title="NORDITA"><img src="nordita.png" height="72px" /></a>
	  <span id="br2"> </span>
-->
	  <a href="https://www.shanghaitech.edu.cn/eng/" title="ShanghaiTech University"><img src="QUANTUM%20GRAVITY%20and%20All%20of%20That%20-%20International%20seminar%20series_files/sht.png" height="72px"></a>
	  <!-- <a href="https://www.ubi.pt/en/" title="University of Beira Interior"><img src="ubidark.png" height="72px"></a> -->
</p>


<h2 style="text-align:center;">External resources</h2>

<hr style="opacity:0.3;width:50%;">

<p style="text-align:center;font-size:80%;">
	  <a href="http://www.mi-ras.ru/index.php?c=main&amp;l=1" title="Steklov International Mathematical Center"><img src="QUANTUM%20GRAVITY%20and%20All%20of%20That%20-%20International%20seminar%20series_files/simc.png" height="72px"></a>
	  <span id="bre1"> </span>
	  <a href="https://isqg.org/" title="International Society for Quantum Gravity"><img src="QUANTUM%20GRAVITY%20and%20All%20of%20That%20-%20International%20seminar%20series_files/isqg80.png" height="72px"></a>	  
</p>

<h2 style="text-align:center;">Policies and other documents</h2>

<hr style="opacity:0.3;width:50%;">

<p style="text-align:center;font-size:80%;">
    <a href="https://qgholqi.inpcs.net/about.html" title="About" target="_self">Code of conduct</a> &nbsp; <a href="https://qgholqi.inpcs.net/cookies.html" title="Cookie policy" target="_self">Policies</a>
</p>

        </div>

	
        <div id="page_program" style="visibility:hidden;display:none;">
<p style="color:#ff0000;text-align:center;font-size:120%;">
<!--
<i>Note the change of time in Europe and America! Seminars will start as usual 17:00 CET!<br/>
It is 08:00 Los Angeles, 11:00 New York, 19:00 Moscow, 01:00 (next day) Tokyo</i></p>
-->

<!--	  <h3 style="text-align:center;"><strong>We are happy to kick-off this seminar series with the talk by Prof. Gerard 't Hooft!</strong></h3>

<p>&nbsp;</p> -->

</p><p>As a rule of thumb in most cases we would have a 1 hour talk followed by a 30+ minutes of the discussion session.</p>

<p>Moreover, given speaker permissions, talks will be recorded and uploaded to the <a href="https://www.youtube.com/channel/UCZbUjxWXCfNBY30OZh-Z_2Q">YouTube Channel</a>.</p>

<p>&nbsp;</p>

<hr style="opacity:0.3;width:100%;"><h3 style="color:#a82e2e;">Thursday, February 20, 2025, 14:00 CET<br>
<span style="font-size:80%;">(05:00 Los Angeles, 08:00 New York, 16:00 Moscow, 21:00 Shanghai, 22:00 Tokyo)</span></h3>

<p><strong>Title: Inflation, PBH production and induced GW in modified gravity and supergravity
</strong></p>
<p><em>Speaker: Sergey Ketov (Tokyo Metropolitan University)
</em></p>
<p>Abstract:
In the first part of my talk, Starobinsky inflation is reviewed and 
extended in the framework of the modified F(R) gravity in order to 
accommodate production of primordial black holes (PBH) at smaller 
scales. Those black holes may form dark matter (DM) in the current 
Universe. The density and frequency of the PBH-induced gravitational 
waves (GW) are derived and compared to the sensitivity curves of the 
future space-based gravitational interferometers (LISA, DECIGO, TianQin,
 Taiji), which makes it possible to probe our models. In the second part
 of my talk, an upgrade of our models
to supergravity is introduced, and a possible connection to the MSSM  
and SM of elementary particles is outlined.

</p>
<hr style="opacity:0.3;width:100%;"><h3 style="color:#a82e2e;">Thursday, April 3, 2025, 15:00 CEST<br>
<span style="font-size:80%;">(06:00 Los Angeles, 09:00 New York, 16:00 Moscow, 21:00 Shanghai, 22:00 Tokyo)</span></h3>

<p><strong>Title: TBA
</strong></p>
<p><em>Speaker: Xinan Zhou (KITS &amp; ShanghaiTech U.)
</em></p>
<p>Abstract:
TBA
</p>

<hr style="opacity:0.3;width:100%;">

	</div>
<!-- %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% -->        

<div id="page_registration" style="visibility:hidden;display:none;">

        <p>The registration is open to anyone interested in attending the talks and participating in the discussion sessions.<br>
        The registration is <strong>required</strong> to better maintain the seminars.
        </p>

        <form id="idformreg" action="noreply.php" method="post" target="_self">


        <p>&nbsp;</p>

          <p style="font-size:80%;"><i><span style="color:rgb(255,40,37);">*</span>Indicates required field</i></p>

          <p>Academic position<br>
        <input id="idposition" name="position" type="text" size="40">
          </p>

          <p>Full Name<span style="color:rgb(255,40,37);">*</span><br>
        <input id="idfullname" name="fullname" type="text" required="" size="40">
          </p>

          <p>Affiliation<span style="color:rgb(255,40,37);">*</span><br>
        <input id="idaffiliation" name="affiliation" type="text" required="" size="40">
          </p>

          <p>Institutional e-mail<span style="color:rgb(255,40,37);">*</span><br>
        <input id="idemail" name="email" type="email" required="" size="40">
          </p>

        <p>Test question (to prevent automated registrations)<span style="color:rgb(255,40,37);">*</span><br>
        Given two decimal integers 21 and 6 compute their
        difference        and write it in a 8-base numeric system:<br>
            <input id="idnorobot" name="norobot" type="text" required="" size="40">
        </p>
        
        <input id="idbutton" name="button" type="button" value="Submit" onclick="norobotValidate();">
        <input type="reset">
        </form>

        <p style="font-size:80%;"><i>By clicking the "Submit" button you
 give your explicit consent for storing and processing your personal 
data for the purposes of maintaining the "Quantum Gravity and All of 
That" seminar series. You moreover give this way your explicit consent 
for receiving e-mail notifications regarding upcoming seminars and 
related information. Each e-mail message will contain explicit 
unsubscribe instructions to have you removed from the mailing list in 
case you wish so.</i></p>

    
</div>

        
<!-- %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% -->   

    
</body>
</html>
